@charset "UTF-8";

@import 'vendor/normalize';

container {
    display: 'flex';
    flexWrap: 'wrap';
  }

img {
    height:20px;
    margin-right: 5px;
}
.testHeader{
    font-size: 80px;
    color: red;
}

.mainHeader{
    background-color: red;
    font-size: 40px;
}
#form {
    margin-left:15px;
    margin-right:15px;
}
#map {
    height:90vh;
    width:80vh;
    margin-left:15px;
    margin-right:15px;
}

.leaflet-routing-container h2{
    font-size: 0.8rem !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.leaflet-routing-container h3{
    font-size: 0.8rem !important;
    text-align: right !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
    padding: 6px;
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
    max-width: 70vw;
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.2s ease;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    position: absolute;
    left: 5.5px;
    top: 0.7vh;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.leaflet-routing-container-hide:hover {
    background-color: #F4F4F4;
}
.leaflet-reset-button {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    background-size: 18px 18px;
    background-color: white;
    cursor: pointer;
}
.leaflet-reset-button:hover {
    background-color: #F4F4F4;
}
.site-list{
    list-style: none;
}
.site-list li{
    padding: 10px;
}

body {
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.feed-body{
    padding: 10px;
}

.site-list li{
    border: 2px gray solid;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 30%;
}


// marker 
/*
  Leaflet.BeautifyIcon, a plugin that adds colorful iconic markers for Leaflet by giving full control of style to end user, It has also ability to adjust font awesome
  and glyphicon icons
  (c) 2016-2017, Muhammad Arslan Sajid
  http://leafletjs.com
*/
.beautify-marker {
    text-align: center;
    font-weight: 700;
    font-family: monospace;
    position:absolute;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .beautify-marker.circle {
        border-radius: 100%;
    }

    .beautify-marker.circle-dot, .beautify-marker.doughnut {
        border-radius: 100%;
    }

    .beautify-marker.marker {
        border-top-left-radius: 50%;
        border-top-right-radius: 50% 100%;
        border-bottom-left-radius: 100% 50%;
        border-bottom-right-radius: 0%;
        /* rotating 45deg clockwise to get the corner bottom center */
        transform: rotate(45deg); 
        
    }

    .beautify-marker.marker > * {
        /* rotating 45deg counterclock to adjust marker content back to normal */
        transform: rotate(-45deg);
    }